body {
    background-color: #e5e5e5;
font-family: 'Roboto', sans-serif;
}
strong{
    font-weight: bold;
}
em{
    font-style: italic;
}
.top-bar {
    height: 92px;
    width: 100%;
    background-color: #CF2B2B;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.top-container {
    margin-left: 21px;
    color: #fff;
}
.app-name{
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
.app-copy{
    font-size: 18px;
}
.container{
    margin: 116px 0;
    margin-left: 16px;
}
.menu {
    margin: 24px 0;
}
.menu-name{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    margin-bottom: 8px;
}
.options {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}


.option {
    min-width: 172px;
    height: 216px;
    margin-right: 16px;
    background-color: #fff;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 9px;
    border: 5px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;    

}
.option h4{
    font-size: 16px;
}
.option img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    object-fit: cover;
}
.option ion-icon{
    font-size: 20px;
    color: #fff;
}

.option-name,.option-description,.option-price{
    width: 144px;
}
.option-description{
    color: #A6A6A6;
    font-size: 15px;
}
.option-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-bar{
    height: 92px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.send-request{
    width: 364px;
    height:61px;
    border-radius: 50px;
    border: none;
    background-color: #cbcbcb;
    color: #fff;
    font-size: 20px;
    
}
.send-ready{
    background-color: #32B72F;
}
.selected{
    border-color:  #32B72F;
}
.selected ion-icon{
    color: #32B72F;
}
.confirm-background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    filter:opacity(90%);
    z-index: 2;
}
.confirm-square{
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
    position: fixed;
    top: calc((100% - 377px)/2);
    left: calc((100% - 353px)/2);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    color: #fff;
}
.review{
    width: 329px;
}
.review div{
display: flex;
justify-content: space-between;
margin-bottom: 8px;
}
.review h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
}
.confirm-square button{
    width: 329px;
    height: 52px;
    color: #50D074;
    background-color: #fff;
    border-radius: 100px;
    border: none;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}
@media (max-width: 600px) {
    /* Hide scrollbar for Chrome, Safari and Opera */
.options::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.options {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
}